<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MY Avgle Viewer</title>
  <link rel="stylesheet" href="../semantic.min.css">
  <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>